body {
    background-color: rgb(97, 202, 202);
    font:  15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px  rgb(12, 26, 26);
}

section {
    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px  rgb(12, 26, 26);
 
}

input {
    background-color: rgb(97, 202, 202);
    color: white;
    text-shadow: 5px 5px 10px  rgb(12, 26, 26);
    width: 200px;
    height: 50px;
    font: 14pt Arial; 
    cursor: pointer;
    
} 

div {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}



